
* {box-sizing: border-box}

html{
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
  text-align:center;
  color: #40514E;
  line-height: 2;
  /*min-width: 1290px !important;*/
}

.mySlides {
  display: none
}

img {
  vertical-align: middle;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 480px) {
  .prev, .next {font-size: 24px}
}

.topnav {
  overflow: hidden;
  background-color: #0008;
  line-height: normal;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  min-width: 60px;
  box-shadow: 0 3px 1rem rgba(0,0,0,.1);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s all;
}

.topnav a:hover{
  background-color: #0009;
}

.icon{
  display: none;
}

@media screen and (max-width: 1200px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    right: 10px;
    display: block;
  }
}

@media screen and (max-width: 1200px) {
 .topnav.responsive {position: relative;}
 .topnav.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
  }
 .topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
  }
}

.topnav.responsive a:hover {
  background-color: #111;
  color: white;
}

.header {
  height: 700px;
  padding: 30px;
  text-align: center;
  color: black;
  background-repeat: no-repeat;
  position: relative;
  animation: bgcolor infinite 20s;
}

@keyframes bgcolor {
  0% {
    background: #4285f4;
  }
  20% {
    background: #ea4335;
  }
  40% {
    background: #fbbc05;
  }
  60% {
    background: #4285f4;
  }
  80% {
    background: #34a853;
  }
  100% {
    background: #ea4335;
  }
}

h1 {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

@media screen and (max-width: 1440px) {
  .header {
    padding-bottom: 30px;
    margin-bottom: 150px !important;
  }

   .header:after {
     bottom: -220px !important;
  }
}

.stencil {
  position: relative;
  top: 30%;
  right: 20%;
  font-family: 'Stardos Stencil', cursive;
  font-size: 40;
}

.Vesper {
  font-family: 'Vesper Libre', serif;
  font-size: 1rem;
}

.A-Web-Developer {
  font-size: 30;
  color: black;
}

.dots{
  border-style: none;
  border-top-style: dotted;
  border-width: 12px;
  width: 100px;
  margin: 50px auto;
  padding-bottom: 0px;
}

.btn {
  background: #333;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: white;
}

.btn:hover {
  background: #111;
  text-decoration: none;
}

.bottom-container {
  background: #333;
  color: white;
  padding: 5px;
  bottom: 5;
  width: 100%;
}

::selection {
  color: grey;
}

.copywrite {
  font-size: 1rem;
  padding: 0px 0px;
}

.links {
  text-decoration: none;
  color: #3197D6;
}

.links:hover {
  color: #001d9b;
}

.btn {
   background: #333;
   -webkit-border-radius: 8;
   -moz-border-radius: 8;
   border-radius: 8px;
   font-size: 20px;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
   color: white;
 }

.shivam {
   height: 48;
}

.sidenav {
   height: 100%;
   width: 0px;
   position: fixed;
   z-index: 1001;
   top: 0;
   right: 0;
   background-color: black;
   overflow-x: hidden;
   transition: 0.5s;
   padding-top: 60px;
}

.sidenav a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: #818181;
   display: block;
   transition: 0.3s;
}

.sidenav a:hover {
   background-color: #111;
}

.sidenav .closebtn {
   position: absolute;
   top: 0;
   left: 0px;
   font-size: 36px;
}

@media screen and (min-height: 50px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#loading{
   position: fixed;
   width: 100%;
   height: 100%;
   background: #EEEDED
   url('https://i0.wp.com/codemyui.com/wp-content/uploads/2015/06/material-design-google-loader-in-css.gif?fit=880%2C440&ssl=1') no-repeat center;
   z-index: 99999;
 }

 h2 {
  font-family: 'Merriweather', sans-serif;
  font-size: 2.5rem;
  margin: 0px;
 }

 br {
   line-height: 1;
 }

 .wait {
   font-size: 25px;
   font-family: Verdana, sans-serif;
 }

.myImage {
  position: absolute;
  top: 55px;
  right: 200px
}

.Last-Modified {
  font-size: 12px;
  position: absolute;
  left: 0px;
  top: 2490px;
  color: #40514E;
  width: 300px;
}

@media screen and (max-width: 480px) {
 /* .text {
    font-size: 30;
  } */
  .Last-Modified {
    font-size: 24px;
    top: 2752px !important;
    left: 0px;
    width: 500px;
    height: 100
  }
  .modal-body {
    font-size: 30;
  }
  .modal-footer {
    font-size: 20;
  }
}

@media screen and (min-width: 1440px) {
  .Last-Modified {
    position: absolute;
    top: 2415px;
    left: 10px;
  }
}

@media screen and (max-width: 1441px) {
  .Last-Modified {
    left: 10px;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #333;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #333;
  color: white;
}

#myButton {
  font-family: Verdana, sans-serif;
  position: absolute;
  top: 700px;
  left: 0px;
  cursor: pointer;
  background: #333;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: white;
}

#myButton:hover {
  background: #111;
  text-decoration: none;
}

.Updates-hr {
  display: block;
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background-color: #fff;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(44, 56, 12, 0.16);
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #c6c6c6;
}

.button-a {
  border: none;
  background: #fff;
}

.text {
  font-size: 1rem;
}

@media screen and (max-width: 1184px){
  body {
    min-width: 1185px;
  }
}

@media screen and (max-width: 1100px){
  .myImage {
    right: 100px;
  }
}

@media screen and (max-width: 676px) {
  .text {
    font-size: 1.3rem;
  }
  .modal-body {
    font-size: 30;
  }
  .modal-footer {
    font-size: 20;
  }
  .Last-Modified {
    font-size: 20px;
    top: 2486px;
  }
}
