
body {
  font-family: Verdana, sans-serif;
  margin: 0;
  text-align: center;
  min-width: 1250px !important;
}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  background-color: #4287f5;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #b7bdc7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: white;
}

.header {
  padding: 30px;
  width: 1263;
  text-align: center;
  background: #4287f5;
  color: white;
  background-repeat: no-repeat;
  position: relative;
  margin-top: -1px;
  margin-bottom: 200px;
  padding-top: 80px;
  }

.heading{
	font-size: 450%;
  color: #4287f5;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.heading{
  font-size: 350%;
  color: #4287f5;
}

.heading-2{
  font-size: 350%;
  color: white;
}

.heading-3{
  font-size: 25px;
  margin-right: 25px;
}

.heading-4{
  font-size: 450%;
  color: white;
  text-align: left;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top:10px;
}

.middle {
  margin-top:10px;
  float: left;
  width: 70%;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  .right {
    display: none;
  }
}

#myBtn {
display: none;
position: fixed;
bottom: 20px;
right: 30px;
z-index: 99;
font-size: 18px;
border: none;
outline: none;
background-color: red;
color: white;
cursor: pointer;
padding: 15px;
border-radius: 4px;
}

#myBtn:hover {
background-color: #555;
}

.dog-img{
  position: absolute;
  top: 35px;
  left: 800px;
  height: 500px;
  transform: rotate(5deg);
}

.top-header {
  padding: 35px;
  width: 1263;
  text-align: center;
  background: #4287f5;
  color: white;
  background-repeat: no-repeat;
  position: relative;
  margin-top: -1px;
  margin-bottom: 200px;
  padding-top: 80px;
}

.testimonial-image{
  height: 100px;
  border-radius: 20;
}
